.docs-navbar {
  @include sizing(100% 150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: $fw-bold;

  &__link {
    svg {
      vertical-align: middle;
    }

    &:not(:first-child) {
      margin-left: 40px;
    }

    &--source {
      vertical-align: middle;

      @media #{$md-up} {
        margin-right: 10px;
      }
    }

    &.active {
      color: $color-green;
    }
  }

  &__link-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__link-source-container {
    text-align: center;

    @media #{$md-up} {
      text-align: left;
    }
  }

  &__link-logo {
    flex-basis: 100%;
    margin-bottom: 10px;

    @media #{$md-up} {
      flex-basis: auto;
    }
  }
}
