.global-footer {
  @include sizing(100% 80px);
  @include flex-center();
  margin-top: 150px;
  padding-bottom: 100px;
  flex-direction: column;
  font-size: $fs-3;
  text-align: center;
  color: rgba($color-white, .3);

  @media #{$md-up} {
    margin-top: 256px;
  }

  &--inverted {
    color: rgba($color-black, .3);
  }

  &__icon {
    margin: 0 5px;
    vertical-align: middle;

    &--netguru {
      g {
        fill: currentColor;
      }
    }
  }

  &__link {
    margin-top: 20px;
  }

  &__gh-logo {
    @include sizing(30px 29px);
  }

  a {
    color: inherit;
  }
}
