.links-pane {
  @include flex-center();
  height: 196px;
  background-color: $color-grey;
  border-radius: 5px;

  &__link {
    display: block;
    margin: 10px 0;
    font-size: $fs-1 - 2px;

    &--selected {
      color: $color-green !important;
    }
  }
}
