<h3>Pusher</h3>
<p>String key: pusher Required configuration:</p>
<ul>
  <li>pusherKey: Key for the Pusher app</li>
</ul>
<p>Observed channels structure: channels and events</p>

<h3>Socket.io</h3>
<p>String key: socketio Required configuration:</p>
<ul>
  <li>host: App host address, for example: http://localhost:3000</li>
</ul>
<p>Observed channels structure: events only</p>

<h3>Phoenix</h3>
<p>String key: phoenix Required configuration:</p>
<ul>
  <li>socketAddress: Socket address, for example: ws://localhost:4000/socket</li>
</ul>
<p>Observed channels structure: channels and events</p>

<h3>ActionCable</h3>
<p>String key: action-cable Required configuration:</p>
<ul>
  <li>socketAddress: Socket address, for example: ws://localhost:4000/socket</li>
</ul>
<p>Observed channels structure: events only</p>
