<h3>Pusher</h3>
<p><b>String key:</b> <code>pusher</code></p>
<p><b>Required configuration:</b></p>
<ul>
  <li><code>pusherKey</code>: Key for the Pusher app</li>
</ul>
<p><b>Observed channels structure:</b> {{link-to 'channels and events' 'technology.observed-channels-structure'}}</p>

<h3>Socket.io</h3>
<p><b>String key:</b> <code>socketio</code></p>
<p>Required configuration:</p>
<ul>
  <li><code>host</code>: App host address, for example: <code>http://localhost:3000</code></li>
</ul>
<p><b>Observed channels structure:</b> {{link-to 'events only' 'technology.observed-channels-structure'}}</p>

<h3>Phoenix</h3>
<p><b>String key:</b> <code>phoenix</code></p>
<p><b>Required configuration:</b></p>
<ul>
  <li><code>socketAddress</code>: Socket address, for example: <code>ws://localhost:4000/socket</code></li>
</ul>
<p><b>Observed channels structure:</b> {{link-to 'channels and events' 'technology.observed-channels-structure'}}</p>

<h3>ActionCable</h3>
<p><b>String key:</b> <code>action-cable</code></p>
<p><b>Required configuration:</b></p>
<ul>
  <li><code>socketAddress</code>: Socket address, for example: <code>ws://localhost:4000/socket</code></li>
</ul>
<p><b>Observed channels structure:</b> {{link-to 'events only' 'technology.observed-channels-structure'}}</p>
