<p>To install ember-socket-guru simply run following command from your terminal:</p>
<div class="docs-page__code-pane">
  <p class="docs-page__install">
    $ ember install ember-socket-guru
  </p>
</div>
