<div>
  {{#link-to "index" class="docs-navbar__link"}}
    {{svg-jar "logo-2"}}
  {{/link-to}}
  {{#link-to "index" class="docs-navbar__link"}}
    Start
  {{/link-to}}
  {{#link-to "index" class="docs-navbar__link"}}
    Documentation
  {{/link-to}}
</div>
<a href="https://github.com/netguru/ember-socket-guru">
  <span class="docs-navbar__link docs-navbar__link--source">View source</span>
  <img src="github-icon.png">
</a>
