<div>
  {{#link-to 'technology.installation' technology class="links-pane__link"}}
    Installation
  {{/link-to}}
  {{#link-to 'technology.getting-started' technology class="links-pane__link"}}
    Getting Started
  {{/link-to}}
  {{#link-to 'technology.observed-channels-structure' technology class="links-pane__link"}}
    Observed Channels Structure
  {{/link-to}}
  {{#link-to 'technology.socket-clients' technology class="links-pane__link"}}
    Socket Clients
  {{/link-to}}
</div>
