<div class="links-pane__pane">
  {{docs-link link="technology.installation" technology=technology label="Installation" route=route}}
  {{docs-link link="technology.getting-started" technology=technology label="Getting Started" route=route}}
  {{docs-link link="technology.observed-channels-structure" technology=technology label="Observed Channels Structure" route=route}}
  {{docs-link link="technology.socket-clients" technology=technology label="Socket Clients" route=route}}
</div>
