$ff-sans-serif: 'proxima-nova', Arial;
$ff-code: 'fira-mono', courier new;
$fs-0: 12px;
$fs-1: 18px;
$fs-2: 19px;
$fs-3: 11px;
$fs-4: 15px;
$fs-5: 16px;

$fw-light: 100;
$fw-normal: 400;
$fw-bold: 800;
