<div class="c-main-page">
  <div class="container">
    {{#link-to 'index' class="c-main-page__logo"}}
      {{svg-jar 'logo'}}
    {{/link-to}}
    <div class="c-main-page__author-framework">
      <div class="c-main-page__author-framework-item">
        for <a href="http://emberjs.com" target="_blank">
          {{svg-jar 'ember-logo' class="c-main-page__icon c-main-page__icon-ember"}}
        </a>
      </div>
      <div class="c-main-page__author-framework-item">
        by <a href="http://netguru.co" target="_blank">
          {{svg-jar 'ng-logo' class="c-main-page__icon"}}
        </a>
      </div>
    </div>

    <div class="c-main-page__sentence">
      <span>Start using</span>
      <div class="c-main-page__technologies">
        <div class="c-main-page__technology">
          <span>Phoenix Channels</span>
        </div>
        <div class="c-main-page__technology">
          <span>Socket.io</span>
        </div>
        <div class="c-main-page__technology">
          <span>ActionCable</span>
        </div>
        <div class="c-main-page__technology">
          <span>Pusher</span>
        </div>
      </div>
      <span>in your ember app effortlessly!</span>
    </div>

    <div class="c-main-page__installation">
      <div class="c-main-page__installation-pane">
        <div class="c-main-page__circles">
          <span class="c-main-page__circle"></span>
          <span class="c-main-page__circle"></span>
          <span class="c-main-page__circle"></span>
        </div>
        <div class="c-main-page__instruction-pane">
          <span class="c-main-page__installation-text c-main-page__installation-text--green">$ ember</span>
          <span class="c-main-page__installation-text">
            install ember-socket-guru
          </span>
        </div>
      </div>
      <span class="c-main-page__version">Ember.js 2.3+ required (Ember.js 2.4+ recommended)</span>
      <button class="c-main-page__button">Get started</button>
    </div>
  </div>
</div>
