<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{docs-navbar}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {{outlet}}
    </div>
    <div class="col-md-4">
      {{links-pane technology=model}}
    </div>
  </div>
  {{global-footer}}
</div>
