<div class="col-md-8">
  <h1 class="technology__header">{{model.routeName}}</h1>
  {{docs-getting-started}}
</div>
<div class="col-md-4">
  {{links-pane technology=model.technology route=model.routeName}}
</div>
