<div class="col-md-4 col-md-push-8">
  {{links-pane technology=model.technology route=model.routeName}}
</div>
<div class="col-md-8 col-md-pull-4 c-text-content">
  <h1 class="technology__header">{{model.routeName}}</h1>
  {{docs-observed-channels-structures}}
</div>
